<ActionBar class="action-bar">
        <!-- 
        Use the NavigationButton as a side-drawer button in Android
        because ActionItems are shown on the right side of the ActionBar
        -->
        <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
        <!-- 
        Use the ActionItem for IOS with position set to left. Using the
        NavigationButton as a side-drawer button in iOS is not possible,
        because its function is to always navigate back in the application.
        -->
        <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
            ios.position="left">
        </ActionItem>
        <Label class="action-bar-title" text="Home"></Label>
    </ActionBar>
    <StackLayout>
        <Label class="h1" [text]="currentValue | currency"></Label>
        <GridLayout rows="*, *, *, *, *" columns="*, *, *" style="margin:3em">
            
            <FlexboxLayout colSpan="3" row="0" col="0" flexDirection="row" flexWrap="wrap" justifyContent="center" alignItems="center">
                <Button class="btn-rounded-lg" text="aaa" textWrap="true"></Button>
                <Button class="btn-rounded-lg" text="bbb" textWrap="true"></Button>
                <Button class="btn-rounded-lg bg-primary" text="ccc" textWrap="true"></Button>
                <Button class="btn-rounded-lg" text="ddd" textWrap="true"></Button>
                <Button class="btn-rounded-lg" text="eeeeee" textWrap="true"></Button>
                <Button class="btn-rounded-lg" text="fffffffff" textWrap="true"></Button>
                <Button class="btn-rounded-lg" text="gggggggggggg" textWrap="true"></Button>
                <Button class="btn-rounded-lg" text="hhhhhhhhhhhhhhh" textWrap="true"></Button>
            </FlexboxLayout>
                
            <Button text="1"   (tap)="type(1)" row="1" col="0"></Button>
            <Button text="2"   (tap)="type(2)" row="1" col="1"></Button>
            <Button text="3"   (tap)="type(3)" row="1" col="2"></Button>
            <Button text="4"   (tap)="type(4)" row="2" col="0"></Button>
            <Button text="5"   (tap)="type(5)" row="2" col="1"></Button>
            <Button text="6"   (tap)="type(6)" row="2" col="2"></Button>
            <Button text="7"   (tap)="type(7)" row="3" col="0"></Button>
            <Button text="8"   (tap)="type(8)" row="3" col="1"></Button>
            <Button text="9"   (tap)="type(9)" row="3" col="2"></Button>
            <Button text="<|"  (tap)="erase()" row="4" col="0"></Button>
            <Button text="0"   (tap)="type(0)" row="4" col="1"></Button>
            <Button text="(+)" (tap)="erase()" row="4" col="2"></Button>
        </GridLayout>
    </StackLayout>
    