<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>
<StackLayout>
    <Label [text]="currentValue | currency"></Label>
    <GridLayout rows="*, *, *, *" columns="*, *, *">
        <Button text="1" (tap)="type(1)" row="0" col="0"></Button>
        <Button text="2" (tap)="type(2)" row="0" col="1"></Button>
        <Button text="3" (tap)="type(3)" row="0" col="2"></Button>
        <Button text="4" (tap)="type(4)" row="1" col="0"></Button>
        <Button text="5" (tap)="type(5)" row="1" col="1"></Button>
        <Button text="6" (tap)="type(6)" row="1" col="2"></Button>
        <Button text="7" (tap)="type(7)" row="2" col="0"></Button>
        <Button text="8" (tap)="type(8)" row="2" col="1"></Button>
        <Button text="9" (tap)="type(9)" row="2" col="2"></Button>
        <Button text="(+)" row="3" col="0"></Button>
        <Button text="0" (tap)="type(0)" row="3" col="1"></Button>
        <Button text="<|" (tap)="erase()" row="3" col="2"></Button>
    </GridLayout>
</StackLayout>